{% extends 'bootcampapp/adminbase.html' %}
{% block content %}
{% load static %}
{% load bootcamp_filters %}
<style>
    .btn-spacing {
        margin-bottom: 10px;
        /* Adjust as needed */
    }

    .pagination {
        margin-top: 20px;
    }
</style>
    <div class="row mb-3">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div id="message" class="alert" style="display: none;"></div>
    </div>
    <div class="card students-list">
        <div class="card-header border-0 flex-wrap pb-0">
            <h4>Users List</h4>
            <div class="input-group search-area w-auto">
                <form method="GET" action="{% url 'admin-view-user-list-school' %}" class="form-inline">
                    <div class="input-group search-area w-auto">
                        
                    <div class="input-group">
                        <select name="school" class="form-control" onchange="this.form.submit()">
                            <option value="">Select School</option>
                            {% for school in schools %}
                            <option value="{{ school.id }}" {% if school.id == selected_school_id %}selected{% endif %}>
                                {{ school.school_name }}
                            </option>
                            {% endfor %}
                        </select>
                        <span class="input-group-text">
                            <a href="javascript:void(0)">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 32 32"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path d="M27.414 24.586L22.337 19.509C23.386 17.928 24 16.035 24 14C24 8.486 19.514 4 14 4C8.486 4 4 8.486 4 14C4 19.514 8.486 24 14 24C16.035 24 17.928 23.386 19.509 22.337L24.586 27.414C25.366 28.195 26.634 28.195 27.414 27.414C28.195 26.633 28.195 25.367 27.414 24.586ZM7 14C7 10.14 10.14 7 14 7C17.86 7 21 10.14 21 14C21 17.86 17.86 21 14 21C10.14 21 7 17.86 7 14Z" fill="var(--primary)"></path>
                                </svg>
                            </a>
                        </span>
                        <input
                            type="text"
                            name="search"
                            class="form-control"
                            placeholder="Search users..."
                            value="{{ query }}"
                        >
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Search</button>
                            
                        </div>
                        
                    </div>
            </form>
            <form id="approve-all-form" method="POST" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="selected_school" value="{{ selected_school_id }}">
                <button type="submit" class="btn btn-success" id="active" name="active">Active All</button>
                <button type="submit" class="btn btn-info" id="hold" name="hold">Hold All</button>
            </form>
        </div>
    </div>
    <div class="card-body py-0">
        <div class="table-responsive">
            <div id="application-tbl1_wrapper" class="dataTables_wrapper no-footer">
                <table
                    class="table display mb-4 dataTablesCard order-table card-table text-black application dataTable no-footer"
                    id="application-tbl1" role="grid" aria-describedby="application-tbl1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="application-tbl1" rowspan="1"
                                colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                style="width: 274.859px;">Name</th>
                            <th class="sorting" tabindex="0" aria-controls="application-tbl1" rowspan="1" colspan="1"
                                aria-label="Student ID: activate to sort column ascending" style="width: 180.828px;">
                                User Name</th>
                            <th class="sorting" tabindex="0" aria-controls="application-tbl1" rowspan="1" colspan="1"
                                aria-label="Student ID: activate to sort column ascending" style="width: 180.828px;">
                                School Name</th>
                            <th class="sorting" tabindex="0" aria-controls="application-tbl1" rowspan="1" colspan="1"
                                aria-label="Courses: activate to sort column ascending" style="width: 252.016px;">User
                                Type</th>
                            <th class="sorting" tabindex="0" aria-controls="application-tbl1" rowspan="1" colspan="1"
                                aria-label="Join Date: activate to sort column ascending" style="width: 221.562px;">
                                Mobile / WhatsApp</th>
                            <th class="sorting" tabindex="0" aria-controls="application-tbl1" rowspan="1" colspan="1"
                                aria-label="Status: activate to sort column ascending" style="width: 179.156px;">Status
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="application-tbl1" rowspan="1" colspan="1"
                                aria-label=": activate to sort column ascending" style="width: 104.578px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in users %}
                        <tr role="row" class="odd">
                            <td class="sorting_1">
                                <div class="d-flex align-items-center">
                                    {% if t.profile_pic %}
                                    <img src="{{ t.profile_pic.url }}" alt="">
                                    {% else %}
                                    <img src="{% static 'image/no_image.jpg' %}" alt="Default Profile Picture">
                                    {% endif %}
                                    <h4 class="mb-0 fs-16 font-w500">{{t.first_name}} {{t.last_name}}</h4>
                                </div>
                            </td>
                            <td>{{t.username}}</td>
                            <td>{{t.school}}</td>
                            <td>
                                {% if t.utype|upper == 'STUDENT' %}
                                <span style="color: red;">{{t.utype|upper}}</span>
                                {% elif t.utype|upper == 'PRINCIPLE' %}
                                <span style="color: blue;">{{t.utype|upper}}</span>
                                {% else %}
                                <span style="color: green;">{{t.utype|upper}}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if t.profile_updated %}
                                <h4 class="text-info">
                                    <span>{{ t.mobile }}</span>
                                    / {{ t.whatsappno }}
                                </h4>
                                {% else %}
                                <h4 class="text-danger">
                                    <span>Profile not updated yet..</span>
                                </h4>
                                {% endif %}
                            </td>
                            <td>
                                <span class="badge light badge-warning">
                                    <a class="btn btn-xs btn-active {% if t.status %}btn-success{% else %}btn-info{% endif %}"
                                        href="#" data-user-id="{{ t.id }}">
                                        {% if t.status %}
                                        <span class="far fa-eye"></span>
                                        <b>Active</b>
                                        {% else %}
                                        <span class="far fa-eye-slash"></span>
                                        <b>On Hold</b>
                                        {% endif %}
                                    </a>
                                </span>
                            </td>
                            <td>
                                <a class="btn btn-xs btn-warning btn-reset-password" href="#" data-user-id="{{ t.id }}">
                                    <span class="fas fa-redo-alt"></span>
                                    Reset Password
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination Controls -->
                <!-- Pagination Controls -->
                <nav>
                    <ul class="pagination pagination-gutter">
                        {% if users.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if query %}&search={{ query }}{% endif %}"
                                aria-label="First">
                                <i class="la la-angle-double-left"></i>
                                <!-- Use a double arrow for the first page -->
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                                href="?page={{ users.previous_page_number }}{% if query %}&search={{ query }}{% endif %}"
                                aria-label="Previous">
                                <i class="la la-angle-left"></i>
                                <!-- Standard arrow for the previous page -->
                            </a>
                        </li>
                        {% endif %}

                        {% for num in users.paginator.page_range %}
                        {% if users.number == num %}
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)">{{ num }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link"
                                href="?page={{ num }}{% if query %}&search={{ query }}{% endif %}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if users.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                                href="?page={{ users.next_page_number }}{% if query %}&search={{ query }}{% endif %}"
                                aria-label="Next">
                                <i class="la la-angle-right"></i>
                                <!-- Standard arrow for the next page -->
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                                href="?page={{ users.paginator.num_pages }}{% if query %}&search={{ query }}{% endif %}"
                                aria-label="Last">
                                <i class="la la-angle-double-right"></i>
                                <!-- Use a double arrow for the last page -->
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var messageContainer = document.getElementById('message');

        function showMessage(message, isSuccess) {
            messageContainer.textContent = message;
            messageContainer.className = isSuccess ? 'alert alert-info' : 'alert alert-danger';
            messageContainer.style.display = 'block';
            setTimeout(() => {
                messageContainer.style.display = 'none';
            }, 3000);
        }
        // Handle user activation
        document.querySelectorAll('.btn-active').forEach(function(btn) {
            btn.addEventListener('click', function(e) {
                e.preventDefault();
                var userId = btn.getAttribute('data-user-id');
                btn.disabled = true; // Disable button
                fetch("{% url 'active-user' 0 %}".replace('0', userId), {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({})
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            if (data.status) {
                                btn.classList.remove('btn-info');
                                btn.classList.add('btn-success');
                                btn.innerHTML =
                                    '<span class="far fa-eye"></span> <b>Active</b>';
                                showMessage('User activated successfully!', true);
                            } else {
                                btn.classList.remove('btn-success');
                                btn.classList.add('btn-info');
                                btn.innerHTML =
                                    '<span class="far fa-eye-slash"></span> <b>On Hold</b>';
                                showMessage('User put on hold.', true);
                            }
                        } else {
                            showMessage('Error: ' + data.error, false);
                        }
                    })
                    .catch(() => {
                        showMessage('An error occurred. Please try again.', false);
                    })
                    .finally(() => {
                        btn.disabled = false; // Re-enable button
                    });
            });
        });
        // Handle password reset
        document.querySelectorAll('.btn-reset-password').forEach(function(btn) {
            btn.addEventListener('click', function(e) {
                e.preventDefault();
                var userId = btn.getAttribute('data-user-id');
                btn.disabled = true; // Disable button
                fetch("{% url 'reset-user' 0 %}".replace('0', userId), {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({})
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            showMessage('Password reset successfully!', true);
                        } else {
                            showMessage('Error: ' + data.error, false);
                        }
                    })
                    .catch(() => {
                        showMessage('An error occurred. Please try again.', false);
                    })
                    .finally(() => {
                        btn.disabled = false; // Re-enable button
                    });
            });
        });
    });
</script>
{% endblock content %}