{% extends 'teacher/teacherbase.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/static/get/css/style.css">
<style>
  ol.breadcrumb li+li:before {
    content: '\f061';
  display: inline-block;
  font-family: 'fontAwesome';
  padding: 0 10px;
  }
</style>
	<!-- ckeditor -->
	<script src="/static/ckeditor/ckeditor.js"></script>
	<script src="/static/ckeditor/js/sample.js"></script>
	<link rel="stylesheet" href="/static/ckeditor/toolbarconfigurator/lib/codemirror/neo.css">
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'user-dashboard' %}">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'examquestion_list' %}">Exam Question List</a>
            </li>
            <li aria-current="page">Creating Exam Question</li>
        </ol>
    </nav>
</div>
{% if messages %}
    {% for message in messages %}
        <!-- Bootstrap Modal -->
        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered"> <!-- Added modal-dialog-centered class -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">January 2026 Boot Camp @ NubeEra </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Show the modal when the DOM is ready
        var successModal = new bootstrap.Modal(document.getElementById('successModal'), {
            keyboard: false
        });

        // Show the modal
        successModal.show();

        // Hide the modal after 5 seconds
        setTimeout(function() {
            successModal.hide();
        }, 3000);
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#grade').change(function() {
            var gradeId = $(this).val();
            $.ajax({
                url: '{% url "get_exams" %}',
                data: {
                    'grade_id': gradeId
                },
                success: function(data) {
                    var examSelect = $('#exam');
                    examSelect.empty();  // Clear existing options
                    examSelect.append('<option value="">Select a exam</option>');  // Default option
                    $.each(data, function(index, exam) {
                        examSelect.append('<option value="' + exam.id + '">' + exam.exam_name + '</option>');
                    });
                }
            });
        });
    });
</script>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Create Exam Question</h4>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <div class="basic-form">
                        <div class="row">
                            <div class="mb-6 col-md-6">
                                <label class="form-label" for="grade">Grade</label>
                                <select class="form-control" id="grade" name="grade" required>
                                    <option value="">Select a grade</option>
                                    {% for t in grades %}
                                    <option value="{{ t.id }}">{{ t.grade_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-6 col-md-6">
                                <label class="form-label" for="exam">Exams</label>
                                <select class="form-control" id="exam" name="exam" required>
                                    <option value="">Select a exam</option>
                                    {% for t in exams %}
                                    <option value="{{ t.id }}">{{ t.exam_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <label for="about">Question</label>
            
                                <textarea name="question" style="height:30px;" class="ckeditor" required></textarea>
                                <script type="text/javascript">
                                    CKEDITOR.replace('question');
                                    CKEDITOR.add
                                    CKEDITOR.instances['question'].setData('{{question}}');         
                                </script>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <label for="about">Option 1</label>
            
                                <textarea name="option1" style="height:30px;" class="ckeditor" required></textarea>
                                <script type="text/javascript">
                                    CKEDITOR.replace('option1');
                                    CKEDITOR.add
                                    CKEDITOR.instances['option1'].setData('{{option1}}');         
                                </script>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <label for="about">Option 2</label>
            
                                <textarea name="option2" style="height:30px;" class="ckeditor" required></textarea>
                                <script type="text/javascript">
                                    CKEDITOR.replace('option2');
                                    CKEDITOR.add
                                    CKEDITOR.instances['option2'].setData('{{option2}}');         
                                </script>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <label for="about">Option 3</label>
            
                                <textarea name="option3" style="height:30px;" class="ckeditor" required></textarea>
                                <script type="text/javascript">
                                    CKEDITOR.replace('option3');
                                    CKEDITOR.add
                                    CKEDITOR.instances['option3'].setData('{{option3}}');         
                                </script>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <label for="about">Option 4</label>
            
                                <textarea name="option4" style="height:30px;" class="ckeditor" required></textarea>
                                <script type="text/javascript">
                                    CKEDITOR.replace('option4');
                                    CKEDITOR.add
                                    CKEDITOR.instances['option4'].setData('{{option4}}');         
                                </script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-6 col-md-6">
                                <label class="form-label" for="answer">Choose right answer</label>
                                <select class="form-control" id="answer" name="answer" required>
                                    <option value="">Select a answer</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    
                                </select>
                            </div>
                            
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
