<!--**********************************
            Sidebar start
        ***********************************-->
        
<div class="dlabnav">
    
    <div class="dlabnav-scroll">
        <!--**********************************
            Sidebar start
        ***********************************-->
        
<div class="dlabnav">

    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="{% url 'studykit' %}" class="" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <span class="nav-text">Study Kit</span>
                </a>
            </li>
            
            <li>
                <a href="{% url 'logout' %}" class="" aria-expanded="false">
                    <i class="fa fa-sign-out"></i>
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--**********************************
            Sidebar end
        ***********************************-->

        <ul class="metismenu" id="menu">

                <a href="{% url 'studykit' %}" class="" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <span class="nav-text">Study Kit</span>
                </a>
            </li>
            
            <li>
                <a href="{% url 'logout' %}" class="" aria-expanded="false">
                    <i class="fa fa-sign-out"></i>
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--**********************************
            Sidebar end
        ***********************************-->
